* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px red solid; */
}

.body {
    width: 100%;
    background-color: blue;
}
    
    
.container {
width: 100%;

background: radial-gradient(maroon,white,black);
/* background-image: url("background.jpg"); */
background-repeat: no-repeat;
background-size: cover;
color: white;
min-height: 700px;
}

.login {
    background-color: maroon;
}

.header {
    width: 97%;
    margin: 20px;
    height: 100px;
    background-color:black;
}

.main_header h1 {
    color: black;
}

.nav_bar {
    width: 100%;
    font-size: 16px;
    margin: 10px;
    /* background-color: green; */
}

.nav {
    display:inline-block;
    width: 23%;
    background-color:black;
}


.sidebar {
    width: 15%;
    margin: 20px;
    min-height: 250px;
    border: 2px solid black;
    /* position: relative;
    bottom: 40px; */
}

.checkbox {
    display: inline-block;
}

.checkbox label {
    margin: 5px;
}

.main_content {
    width: 70%;
    min-height: 450px;
    display:inline-block;
    vertical-align: top;
    /* position: relative; */
    /* left: 325px; */
    /* bottom: 280px; */
    border: 2px solid black;
    
}

.main_content p {
    color: maroon;
}

.subcontents {
    width: 31%;
    height: 400px;
    display:inline-block;
    vertical-align: top;
    color: black;
}

.subcontents h3 {
    text-align: center;
}

.subcontents .title1 {
    text-decoration: underline;
    color: rgb(0, 162, 255);
}

.subcontents .title2 {
    text-decoration: underline;
    color: rgb(0, 162, 255);
}

.subcontents .title3 {
    text-decoration: underline;
    color: rgb(0, 162, 255);
}


.subcontents img {
    width: 100%;
    height: 150px;
    object-fit: scale-down;
}

.subcontents .description {
    font-size: 12px;
    height: 130px;
}

.subcontents .description1 {
    font-size: 12px;
    height: 130px;
}

.subcontents .description2 {
    font-size: 12px;
    height: 130px;
}

.subcontents .description3 {
    font-size: 12px;
    height: 130px;
}

.subcontents .description4 {
    font-size: 12px;
    height: 130px;
}

.subcontents p {
    text-align: center;

}

.price {
    border: 1px solid black;
    font-weight: bold;
}

.rating {
    border: 1px solid blue;
    font-weight: bold;
}

.cart img {
    width: 20px;
    display: inline-block;
}

.cart p {
    display:inline-block;
}

.cart {
    text-align: right;

}

@media only screen and (max-width: 480px) {
    .ms-0 {
        display:none
    }
    .ss-12 {
        display: inline-block;
        width: 100%;
    }
    .sm-12 {
        display:inline-block;
        width: 100%;
    }
    .container {
        max-width: 100%;
    }
    .hs-12{
        width:85%;
        display:inline-block;
    }
    .lms-8 {
        display: inline-block;
        width: 40%;
    }
}

@media (min-width:481px) {
    .ss-12{
       width: 100%;
       display:inline-block;
    }
    .ms-6 {
        display:inline-block;
        width: 45%;
    }
    .container {
        max-width: 100%;
    }
    .hs-12{
        width:85%;
        display:inline-block;
    }
}  
  


@media (min-width:768px) {

    .ls-4 {
        display: inline-block;
        width: 15%;
    }
    .ms-6 {
        display:inline-block;
        width: 30%;
    }
    .ms-4 {
        display:inline-block;
        width: 23%
    }
    .container {
        max-width:100%;
    }
} 

@media only screen and (min-width:1080px) {
    .ls-4 {
        display: inline-block;
        width: 15%;
    }
    .ss-12 {
        display:inline-block;
        width: 70%
    }
    .ms-4 {
        display:inline-block;
        width: 21%
    }
    .container {
        max-width: 100%;
    }
} 


@media only screen and (max-width:1079px) {
    .ms-0 {
       display:none;
    }    
   .container {
    max-width: 100%;
    } 
}   